# Análise do consumo e preço de combustíveis (Etanol x Gasolina)

Base de dados ´.CSV´ do app [Drivvo](https://www.drivvo.com/pt/).

## Índice

- [Extração dos dados](#extracao)
- [Tratamento de dados](#tratamento)
- [Análise](#analise)
- [Conclusão](#conclusao)

## Extração dos dados <a class = "anchor" id = "extracao" ></a>

In [1]:
import pandas as pd

# importar dados
print([1])
tabela = pd.read_csv(r'C:\Users\elias\Downloads\20210508_135821_DRIVVO.csv', encoding = 'latin1')
display(tabela)

# outras formas de verificar informações do conteúdo do arquivo
print([2])
display(tabela.info)

print('\n',[3])
print(tabela.info())

print('\n',[4])
display(tabela.columns)

'''
depois pesquisar como fazer para buscar o arquivo independente da data, ou seja, 
sempre buscar pelo último "_DRIVVO.csv" e não pelo nome completo do arquivo;
'''

[1]

                                                                                                                                                                                                                                                                                                                    #Abastecimento
Odômetro (km)       Data                Combustível      Preço / L      Valor total    Volume                Completou o tanque Segundo combustível Preço / L        Valor total Volume     Completou o tanque 2 Terceiro combustível Preço / L Valor total Volume Completou o tanque 3 Posto de combustível Motivo     Observação
83442               2021-05-07 15:09:31 Etanol           3.899          181.97         46.671                Sim                NaN                 0                0           0          Não                  NaN                  0         0           0      Não                  Del Rey (Rotatória)  NaN               NaN
83200               2021-04-20 18:10:30 Etanol           3.599          150.91         41.931                Sim                NaN                 0                0           0          Não                  NaN                  0         0           0      Não                  Del Rey (Rotatória)  NaN               NaN
82954               2021-04-07 17:18:51 Etanol           3.499          158.01         45.159                Sim                NaN                 0                0           0          Não                  NaN                  0         0           0      Não                  Del Rey (Rotatória)  NaN               NaN
82701               2021-03-15 10:15:56 Etanol           3.979          183.35         46.079                Sim                NaN                 0                0           0          Não                  NaN                  0         0           0      Não                  Del Rey (Rotatória)  NaN               NaN
...                                                                                                                                                                                                                                                                                                                            ...
74153               2020-01-07 18:51:38 104.87           Licenciamento  NaN            NaN                   NaN                NaN                 NaN              NaN         NaN        NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN
72700               2019-11-14 18:08:41 1656.4           Seguro         NaN            Pago em 10x sem juros NaN                NaN                 NaN              NaN         NaN        NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN
#Percurso           NaN                 NaN              NaN            NaN            NaN                   NaN                NaN                 NaN              NaN         NaN        NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN
Data inicial        Data final          Odômetro inicial Odômetro final Distância (km) Valor km              Total              Origem              Destino          Motivo      Observação NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN
2020-09-26 17:30:30 2020-09-29 19:00:55 79000            79796          796            0.1                   79.600             Casa                Caraguatatuba-SP NaN         Viagem     NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN

[74 rows x 1 columns]

[2]

<bound method DataFrame.info of                                                                                                                                                                                                                                                                                                                     #Abastecimento
Odômetro (km)       Data                Combustível      Preço / L      Valor total    Volume                Completou o tanque Segundo combustível Preço / L        Valor total Volume     Completou o tanque 2 Terceiro combustível Preço / L Valor total Volume Completou o tanque 3 Posto de combustível Motivo     Observação
83442               2021-05-07 15:09:31 Etanol           3.899          181.97         46.671                Sim                NaN                 0                0           0          Não                  NaN                  0         0           0      Não                  Del Rey (Rotatória)  NaN               NaN
83200               2021-04-20 18:10:30 Etanol           3.599          150.91         41.931                Sim                NaN                 0                0           0          Não                  NaN                  0         0           0      Não                  Del Rey (Rotatória)  NaN               NaN
82954               2021-04-07 17:18:51 Etanol           3.499          158.01         45.159                Sim                NaN                 0                0           0          Não                  NaN                  0         0           0      Não                  Del Rey (Rotatória)  NaN               NaN
82701               2021-03-15 10:15:56 Etanol           3.979          183.35         46.079                Sim                NaN                 0                0           0          Não                  NaN                  0         0           0      Não                  Del Rey (Rotatória)  NaN               NaN
...                                                                                                                                                                                                                                                                                                                            ...
74153               2020-01-07 18:51:38 104.87           Licenciamento  NaN            NaN                   NaN                NaN                 NaN              NaN         NaN        NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN
72700               2019-11-14 18:08:41 1656.4           Seguro         NaN            Pago em 10x sem juros NaN                NaN                 NaN              NaN         NaN        NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN
#Percurso           NaN                 NaN              NaN            NaN            NaN                   NaN                NaN                 NaN              NaN         NaN        NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN
Data inicial        Data final          Odômetro inicial Odômetro final Distância (km) Valor km              Total              Origem              Destino          Motivo      Observação NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN
2020-09-26 17:30:30 2020-09-29 19:00:55 79000            79796          796            0.1                   79.600             Casa                Caraguatatuba-SP NaN         Viagem     NaN                  NaN                  NaN       NaN         NaN    NaN                  NaN                  NaN               NaN

[74 rows x 1 columns]>

 [3]
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 74 entries, ('Odômetro (km)', 'Data', 'Combustível', 'Preço / L', 'Valor total', 'Volume', 'Completou o tanque', 'Segundo combustível', 'Preço / L', 'Valor total', 'Volume', 'Completou o tanque 2', 'Terceiro combustível', 'Preço / L', 'Valor total', 'Volume', 'Completou o tanque 3', 'Posto de combustível', 'Motivo') to ('2020-09-26 17:30:30', '2020-09-29 19:00:55', '79000', '79796', '796', '0.1', '79.600', 'Casa', 'Caraguatatuba-SP', nan, 'Viagem', nan, nan, nan, nan, nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   #Abastecimento  11 non-null     object
dtypes: object(1)
memory usage: 17.5+ KB
None

 [4]

Index(['#Abastecimento'], dtype='object')

'\ndepois pesquisar como fazer para buscar o arquivo independente da data, ou seja, \nsempre buscar pelo último "_DRIVVO.csv" e não pelo nome completo do arquivo;\n'

### Considerações

- O arquivo apresentou erro na primeira importação dos dados e pelo o que eu entendi foi um erro de decodificação. Acrescentei um parâmetro dentro do `pd.read_csv`, o **`encoding = 'latin1'`**;  
- Há também diversos valores nulos (NaN) que deverão ser tratados antes da análise e a remoção de algumas colunas como 'Segundo combustível' e outras mais por não conterem valores para a análise;  
- Rever o `print(tabela.info())` após tratamento dos dados, pois apresentou comportamento estranho, mostrou somente 1 coluna total;  
- Não ouve entendimento para o print do `""" """`, que no Python é um comentário quando se tem várias linhas e utilizado em substituição do `#`.

## Tratamento de dados <a class = "anchor" id = "tratamento" ></a>

In [32]:
# remoção das colunas desnecessárias;
print('[1]')
tabela = pd.read_csv(r'C:\Users\elias\Downloads\20210508_135821_DRIVVO.csv', encoding = 'latin1', skiprows = 1)
print(tabela.info(),'\n')

print('[2]')
tabela = tabela.drop(['Data', 'Completou o tanque', 'Segundo combustível', 'Preço / L.1', 'Valor total.1', 
                      'Volume.1', 'Completou o tanque 2', 'Terceiro combustível', 'Preço / L.2', 'Valor total.2', 'Volume.2', 
                      'Completou o tanque 3', 'Posto de combustível', 'Motivo', 'Observação'], axis = 1)
print(tabela.info())
display(tabela)


# selecionar apenas linhas com os combustíveis;
print('[3]')
# tabela[tabela['Combustível'] == 'Etanol']    #-------> Só funciona para um argumento;
tabela = tabela[tabela['Combustível'].isin(['Etanol', 'Gas. Aditivada', 'Gas. Comum'])]
display(tabela)

'''
para uma lista de argumentos:
    .isin(["lista de argumentos"])
    Lê-se: na tabela, na coluna Combustível da tabela, filtrar "Etanol", "Gas. Aditivada" e "Gas. Comum"
    
ou "string contains":
    df[df['col3'].str.contains('py|dat|\+')]    
    Lê-se: no dataframe, na col3 do dataframe, filtrar strings que contém: "py", "dat", "+"
'''


# transformando os "Dtype" das colunas em números inteiros e decimais;
print('[4]')
# tabela['Odômetro (km)'] = pd.to_numeric(tabela['Odômetro (km)'], errors = 'coerce') # apenas para uma coluna;
tabela = tabela.astype({'Odômetro (km)':'int32', 'Preço / L':'float16', 'Valor total':'float16', 'Volume':'float16'})

tabela.dtypes
display(tabela)

[1]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Odômetro (km)         73 non-null     object
 1   Data                  70 non-null     object
 2   Combustível           70 non-null     object
 3   Preço / L             70 non-null     object
 4   Valor total           55 non-null     object
 5   Volume                56 non-null     object
 6   Completou o tanque    42 non-null     object
 7   Segundo combustível   2 non-null      object
 8   Preço / L.1           42 non-null     object
 9   Valor total.1         41 non-null     object
 10  Volume.1              42 non-null     object
 11  Completou o tanque 2  40 non-null     object
 12  Terceiro combustível  0 non-null      float64
 13  Preço / L.2           40 non-null     float64
 14  Valor total.2         40 non-null     float64
 15  Volume.2              40 non-null     float64
 16  Completou o tanque 3  40 non-null     object
 17  Posto de combustível  38 non-null     object
 18  Motivo                10 non-null     object
 19  Observação            10 non-null     object
dtypes: float64(4), object(16)
memory usage: 11.5+ KB
None

[2]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Odômetro (km)  73 non-null     object
 1   Combustível    70 non-null     object
 2   Preço / L      70 non-null     object
 3   Valor total    55 non-null     object
 4   Volume         56 non-null     object
dtypes: object(5)
memory usage: 3.0+ KB
None

,Odômetro (km),Combustível,Preço / L,Valor total,Volume
0,83442,Etanol,3.899,181.97,46.671
1,83200,Etanol,3.599,150.91,41.931
2,82954,Etanol,3.499,158.01,45.159
3,82701,Etanol,3.979,183.35,46.079
4,82399,Gas. Aditivada,4.549,192.38,42.291
...,...,...,...,...,...
68,74153,104.87,Licenciamento,NaN,NaN
69,72700,1656.4,Seguro,NaN,Pago em 10x sem juros
70,#Percurso,NaN,NaN,NaN,NaN
71,Data inicial,Odômetro inicial,Odômetro final,Distância (km),Valor km
72,2020-09-26 17:30:30,79000,79796,796,0.1

[3]

   Odômetro (km)     Combustível Preço / L Valor total  Volume
0          83442          Etanol     3.899      181.97  46.671
1          83200          Etanol     3.599      150.91  41.931
2          82954          Etanol     3.499      158.01  45.159
3          82701          Etanol     3.979      183.35  46.079
4          82399  Gas. Aditivada     4.549      192.38  42.291
5          82121  Gas. Aditivada     4.199       193.7  46.130
6          81747  Gas. Aditivada     4.099      160.23  39.090
7          81369  Gas. Aditivada     3.999      132.21  33.061
8          81090  Gas. Aditivada     3.999         170  42.511
9          80758  Gas. Aditivada     4.179      191.32  45.781
10         80630  Gas. Aditivada     3.999       79.98  20.000
11         80457  Gas. Aditivada     3.999          80  20.005
12         80388  Gas. Aditivada     3.999      49.999  12.503
13         80275  Gas. Aditivada     3.999       79.98  20.000
14         80125  Gas. Aditivada     3.999       79.98  20.000
15         79944  Gas. Aditivada     3.999      88.702  22.181
16         79796  Gas. Aditivada     3.979      153.31  38.530
17         79445  Gas. Aditivada     4.479     177.059  39.531
18         79000  Gas. Aditivada     3.979     146.069  36.710
19         78934  Gas. Aditivada     3.949      49.998  12.661
20         78584  Gas. Aditivada     3.999     113.572  28.400
21         78295      Gas. Comum     3.979      113.64  28.560
22         78018  Gas. Aditivada     3.999      77.101  19.280
23         77872  Gas. Aditivada      4.02      183.16  45.562
24         77509  Gas. Aditivada     3.849      144.91  37.649
25         77418  Gas. Aditivada     3.849          40  10.392
26         77104  Gas. Aditivada     3.499      128.27  36.659
27         76770      Gas. Comum     4.159      115.71  27.822
28         76518      Gas. Comum     4.199       188.7  44.939
29         76365      Gas. Comum     4.199         100  23.815
30         76089      Gas. Comum     4.199         129  30.722
31         75812      Gas. Comum     4.199      183.12  43.610
32         75448      Gas. Comum     4.199     150.001  35.723
33         75035      Gas. Comum     4.199      173.25  41.260
34         74578      Gas. Comum     5.289     185.311  35.037
35         74248      Gas. Comum     4.149     154.521  37.243
36         73964      Gas. Comum     4.149      180.03  43.391
37         73574      Gas. Comum     4.149      123.47  29.759
38         73234      Gas. Comum     4.149      175.83  42.379
39         72787  Gas. Aditivada     3.999      181.07  45.279

[4]

    Odômetro (km)     Combustível  Preço / L  Valor total     Volume
0           83442          Etanol   3.898438     182.0000  46.656250
1           83200          Etanol   3.599609     150.8750  41.937500
2           82954          Etanol   3.498047     158.0000  45.156250
3           82701          Etanol   3.978516     183.3750  46.093750
4           82399  Gas. Aditivada   4.550781     192.3750  42.281250
5           82121  Gas. Aditivada   4.199219     193.7500  46.125000
6           81747  Gas. Aditivada   4.097656     160.2500  39.093750
7           81369  Gas. Aditivada   3.998047     132.2500  33.062500
8           81090  Gas. Aditivada   3.998047     170.0000  42.500000
9           80758  Gas. Aditivada   4.179688     191.3750  45.781250
10          80630  Gas. Aditivada   3.998047      80.0000  20.000000
11          80457  Gas. Aditivada   3.998047      80.0000  20.000000
12          80388  Gas. Aditivada   3.998047      50.0000  12.500000
13          80275  Gas. Aditivada   3.998047      80.0000  20.000000
14          80125  Gas. Aditivada   3.998047      80.0000  20.000000
15          79944  Gas. Aditivada   3.998047      88.6875  22.187500
16          79796  Gas. Aditivada   3.978516     153.2500  38.531250
17          79445  Gas. Aditivada   4.480469     177.0000  39.531250
18          79000  Gas. Aditivada   3.978516     146.1250  36.718750
19          78934  Gas. Aditivada   3.949219      50.0000  12.664062
20          78584  Gas. Aditivada   3.998047     113.5625  28.406250
21          78295      Gas. Comum   3.978516     113.6250  28.562500
22          78018  Gas. Aditivada   3.998047      77.1250  19.281250
23          77872  Gas. Aditivada   4.019531     183.1250  45.562500
24          77509  Gas. Aditivada   3.849609     144.8750  37.656250
25          77418  Gas. Aditivada   3.849609      40.0000  10.390625
26          77104  Gas. Aditivada   3.498047     128.2500  36.656250
27          76770      Gas. Comum   4.160156     115.6875  27.828125
28          76518      Gas. Comum   4.199219     188.7500  44.937500
29          76365      Gas. Comum   4.199219     100.0000  23.812500
30          76089      Gas. Comum   4.199219     129.0000  30.718750
31          75812      Gas. Comum   4.199219     183.1250  43.625000
32          75448      Gas. Comum   4.199219     150.0000  35.718750
33          75035      Gas. Comum   4.199219     173.2500  41.250000
34          74578      Gas. Comum   5.289062     185.2500  35.031250
35          74248      Gas. Comum   4.148438     154.5000  37.250000
36          73964      Gas. Comum   4.148438     180.0000  43.406250
37          73574      Gas. Comum   4.148438     123.5000  29.765625
38          73234      Gas. Comum   4.148438     175.8750  42.375000
39          72787  Gas. Aditivada   3.998047     181.1250  45.281250

### Considerações

- Foi constatado que as colunas com os dados a serem considerados na análise são submenus da coluna "#Abastecimento" e por isso o código `display(tabela.columns)` na extração dos dados apresentou um comportamento extranho:
- Corrigido com o parâmetro `skiprowns = 1` (pula a primeira linha na extração dos dados) do `pd.read_csv`. O padrão é `skiprows=None`;
- Para remover várias colunas, tem que colocar `.drop(['colunas1', 'coluna2'], axis = 1)`;
- Foi feita a seleção somente dos combustíveis e a transformação dos tipos de dados de cada coluna;

## Análise <a class = "anchor" id = "analise" ></a>

In [ ]:
codigo

### Considerações

texto

## Conclusão <a class = "anchor" id = "conclusao" ></a>

texto